<form [formGroup]="padLoopForm" class="pad-loop-form" (keydown.enter)="save()">
    <section class="pad-loop-form__general">
        <app-input-form>
            <label>Title</label>
            <input app-input type="text" formControlName="title">
        </app-input-form>
        <app-input-form formGroupName="time">
            <label>Start</label>
            <input app-input type="text" formControlName="start">
        </app-input-form>
        <app-input-form formGroupName="time">
            <label>End</label>
            <input app-input type="text" formControlName="end">
        </app-input-form>
    </section>
    <section class="pad-loop-form__details">
        <app-input-form>
            <label>Key</label>
            <input app-input type="text" formControlName="key" (keydown)="onKeydown($event)">
        </app-input-form>
        <app-input-form>
            <label>Type</label>
            <select app-input formControlName="mode">
                <option [value]="types.LOOP">Loop (Toggle)</option>
                <option [value]="types.ONE_SHOT">One-Shot (Trigger)</option>
                <option [value]="types.GATE">Gate (Hold)</option>
            </select>
            <!-- <input app-input type="text" formControlName="key" (keydown)="onKeydown($event)"> -->
        </app-input-form>
    </section>
    <!-- <section>
        <app-input-form>
            <label>Volume</label>
            <input app-input type="range" formControlName="volume">
        </app-input-form>
    </section> -->
    <section>
        <app-input-form>
            <label>Youtube URL</label>
            <input app-input type="text" [formControl]="youtubeUrl">
        </app-input-form>
    </section>
    <section class="pad-loop-form__player-container">
        <div class="pad-loop-form__player">
            <app-youtube-player #player (onReady)="onReady()"></app-youtube-player>
            <!-- <div class="pad-loop-form__blocker"></div> -->
        </div>
        <div class="pad-loop-form__controls">
            <label>Quick controls</label>
            <section class="pad-loop-form__controls__quick">
                <button app-button outlined (click)="controls.play()">Play</button>
                <button app-button outlined (click)="controls.pause()">Pause</button>
                <button app-button outlined (click)="controls.stop()">Stop</button>
            </section>
            <button app-button outlined [disabled]="!loaded || null" (click)="go.start()">Jump to start</button>
            <button app-button outlined [disabled]="!loaded || !padLoopForm.value.time?.end || null" (click)="go.end()">Jump to end</button>
        </div>
    </section>
    <section class="pad-loop-form__footer">
        <button app-button (click)="cancel()">Cancel</button>
        <button app-button filled [disabled]="padLoopForm.valid ? null : true" (click)="save()">Save</button>
    </section>
</form>