
.pad-loop-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2);

    &__general, &__details, &__footer {
        display: flex;
        gap: var(--gap);
    }

    &__key {
        width: 25px;
    }

    &__player-container {
        display: flex;
        gap: var(--gap);
    }

    &__player {
        flex: calc(3 / 4);
        border: 1px solid var(--border-secondary);
        border-radius: var(--border-radius);
        aspect-ratio: 16 / 9;
        pointer-events: none;
        
        app-youtube-player {
            display: block;
            height: 100%;
        }
    }

    &__controls {
        flex: calc(1 / 4);
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }

    &__controls-quick {
        display: flex;
        gap: var(--gap);

        lucide-icon {
            display: block;
            height: 16px;
            width: 16px;
        }
    }

    &__footer {
        justify-content: flex-end;
    }
}