.layout {
    height: 100vh;

    &__content {
        display: flex;
        height: calc(100vh - var(--header-height) - var(--padding) * 2);
    }

    &__sessions {
        width: 200px;
        height: 100%;
        background-color: light-dark(var(--bg-secondary), var(--bg-secondary-dark));
        border-right: 1px solid light-dark(var(--border-secondary), var(--border-secondary-dark));
    }

    &__session {
        flex: 1;
        height: 100%;
        background-color: light-dark(var(--bg-primary), var(--bg-primary-dark));
        border-left: 1px solid light-dark(var(--border-secondary), var(--border-secondary-dark));
    }
}