
@if (padLoop) {
    <section class="pad-loop">
        <section class="pad-loop__header">
            <span>{{ padLoop.title }}</span>
            <div class="pad-loop__actions">
                <button app-button outlined small (click)="edit()">
                    <lucide-icon name="LucideSettings" size="16"></lucide-icon>
                </button>
                <button app-button outlined small (click)="remove()">
                    <lucide-icon name="LucideTrash" size="16"></lucide-icon>
                </button>
            </div>
        </section>
        <section class="pad-loop__content">
            <button app-button outlined disabled>
                <lucide-icon [name]="icon()" [class.loading]="icon() === 'LucideLoaderCircle'"></lucide-icon>
            </button>
            <app-youtube-player #player></app-youtube-player>
        </section>
        <section class="pad-loop__information">
            <lucide-icon [name]="type()" [class.gate]="type() === 'CircleFadingArrowUp'" size="24"></lucide-icon>
        </section>
    </section>
}
