
.pad-loop {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    border: 1px solid light-dark(var(--border-secondary), var(--border-secondary-dark));
    max-width: 250px;
    padding: var(--padding);


    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: var(--gap);
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    &:hover {
        .pad-loop__actions {
            opacity: 1;
        }
    }

    &__content {
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 85px;

            & .loading {
                display: block;
                animation: spin 1s linear infinite;
                height: 24px;
                width: 24px;
            }
        }

        app-youtube-player {
            display: none;
        }
    }

    &__information {
        display: flex;
        align-items: center;
        justify-content: start;

        .gate {
            transform: rotate(90deg);
        }
    }
}