
@if (padLoop) {
    <section class="pad-loop">
        <section class="pad-loop__header">
            <span>{{ padLoop.title }}</span>
            <div class="pad-loop__actions">
                <button app-button outlined small (click)="edit()">
                    <lucide-icon [img]="LucideSettings" size="16"></lucide-icon>
                </button>
                <button app-button outlined small (click)="remove()">
                    <lucide-icon [img]="LucideTrash" size="16"></lucide-icon>
                </button>
            </div>
        </section>
        <section class="pad-loop__content">
            <button app-button outlined (click)="play()">
                <lucide-icon [img]="LucidePlay"></lucide-icon>
            </button>
            <app-youtube-player #player></app-youtube-player>
        </section>
    </section>
}
